<div class="keynote-grid-container">
    {% for person in page.keynote %}
            <div class="grid-item">
                <img class="tpc-img" src="{{ person.img_url }}" alt="{{ person.name }}">
            </div>
            <div class="keynote-info">
                <h3><a id="{{person.name}}" href="{{ person.url }}">{{ person.name }}</a></h3>
                <h5>{{ person.affiliation }}</h5>
                <p></p>
                <h4>{{person.title}}</h4>
                <p>{{person.abstract}}</p>
                <h5>Bio:</h5>
                <p class="bio">{{ person.bio }}</p>
                <p></p>
            </div>
    {% endfor %} 
    <div style="height: 40vh; display: block;">
        &nbsp;
    </div>
</div> 
