.toc {
    padding: 10px;
    margin: 15px;
    border: solid 1px $grey-color-light;
    border-radius: 5px;
}
.site-nav .active, .site-footer .active {
    text-decoration: underline;
    color: $active-color;
}

.img-left {
    float: left;
    margin-right: 1em;
    width: 20%;
  }

.organizer {
    display: inline-block;
    margin-top: 1em;
}

.project {
    text-align: center;
    margin-top: 2em;
}
.logos {
    align-items: center;
    display: flex;
}

.logo {
    display: inline-flex;
    width: 30%;
    margin-right: 2em;
}

thead {
    background-color: lightgrey;
}